header {
  background-color: darkgreen;
  color: aliceblue;
  text-align: center;
}
main {
  background-color: lightgrey;
}
body {
  background-image: url('record.png');
  background-repeat: repeat;
  margin: 0px;
  padding: 1em;
}
